@media screen and (min-width:961px) and (max-width:1225px){
#village_map{
	width: 869px !important;
}

.desc1 {
    display: none;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    width: 156px !important;
    height: 141px !important;
    left: 743px !important;
    bottom: calc(50% - 200px);
    font-family: sans-serif;
    bottom: 378px !important;
    background: #fff;
	border-radius: 19px;
	border: 1px solid #000;
    z-index: 2 !important;
}
}

@media screen and (min-width:801px) and (max-width:960px) {
	body{
		margin:0 !important;
		padding: 0 !important;
		width: 100%;
		height: 100%;
	}

	.t-prefix__3 {
  
    margin-left: 1px !important;
}


.t-rec_pb_60 {
    padding-left: 0px !important;
}

.t017__title {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    padding-right: 53px !important;
}

.t-prefix_1 {
    padding-right: 52px !important;
}
/* 		.t-descr{
    text-align: left;
    font-family: 'Nunito', sans-serif;
    width: 574px;
    margin-left: -58px;
}
	.t_999 {
    opacity: 0.90;
    font-family: 'Nunito', sans-serif;
    padding-left: 132px;
}
*/
.t-title {
    font-family: 'Nunito', sans-serif;
    padding-left: 60px !important;
}
.t-prefix_1 {
    padding-left: 6px !important;
    text-align: center !important;
}

.t675{
	height: 40vh  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-left{
	height: 510px  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-right{
	height: 510px  !important;
}

.t-slds__wrapper .t-align_center .t-slds__bgimg .t-bgimg {
	height: 40vh  !important;
}

.t675 .t-slds__wrapper{
	height: 40vh !important;
}

#village_map{
	width: 641px !important;
}

 }




@media screen and (min-width:645px) and (max-width:800px) {
	body{
		margin:0 !important;
		padding: 0 !important;
		width: 100%;
		height: 100%;
	}

	.t-prefix__3 {
  
    margin-left: 1px !important;
}


.t-rec_pb_60 {
    padding-left: 0px !important;
}

.t017__title {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    padding-right: 53px !important;
}

.t-prefix_1 {
    padding-right: 52px !important;
}
/* 		.t-descr{
    text-align: left;
    font-family: 'Nunito', sans-serif;
    width: 574px;
    margin-left: -58px;
}
	.t_999 {
    opacity: 0.90;
    font-family: 'Nunito', sans-serif;
    padding-left: 132px;
}
*/
.t-title {
    font-family: 'Nunito', sans-serif;
    padding-left: 60px !important;
}
.t-prefix_1 {
    padding-left: 6px !important;
    text-align: center !important;
}

.t675{
	height: 40vh  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-left{
	height: 510px  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-right{
	height: 510px  !important;
}

.t-slds__wrapper .t-align_center .t-slds__bgimg .t-bgimg {
	height: 40vh  !important;
}

.t675 .t-slds__wrapper{
	height: 40vh !important;
}

#village_map{
	width: 632px !important;
}

 }















 


 @media screen and (min-width:400px) and (max-width:644px) {
	body{
		margin:0 !important;
		padding: 0 !important;
		width: 100%;
		height: 100%;
	}

	.t-prefix__3 {
  
    margin-left: 1px !important;
}

.t-descr {
    font-family: 'Nunito', sans-serif;
    font-size: 20px !important;
}

.t-rec_pb_60 {
    padding-left: 0px !important;
}

.t017__title {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    padding-right: 53px !important;
}

.t-prefix_1 {
    padding-right: 52px !important;
}
/* 		.t-descr{
    text-align: left;
    font-family: 'Nunito', sans-serif;
    width: 574px;
    margin-left: -58px;
}
	.t_999 {
    opacity: 0.90;
    font-family: 'Nunito', sans-serif;
    padding-left: 132px;
}
*/
#title_offers {
    font-family: 'Nunito', sans-serif;
    padding-left: 72px !important;
}
.t-prefix_1 {
    padding-left: 6px !important;
    text-align: center !important;
}

.t675{
	height: 40vh  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-left{
	height: 510px  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-right{
	height: 510px  !important;
}

.t-slds__wrapper .t-align_center .t-slds__bgimg .t-bgimg {
	height: 40vh  !important;
}

.t675 .t-slds__wrapper{
	height: 40vh !important;
}

#main_title{
    font-size: 45px !important;
    text-transform: uppercase;
    transition-delay: 0s;
    font-family: 'Nunito', sans-serif;
    margin-left: 4px !important;
}

#title_about{
	font-size: 30px !important;
}

#rec111239159{
	padding-top: 0px !important;

}

#title_location{
	margin-left: 109px !important;
}

#village_map{
	width: 410px !important;
}

 }



 @media screen and (min-width:271px) and (max-width:399px) {
	body{
		margin:0 !important;
		padding: 0 !important;
		width: 100%;
		height: 100%;
	}

	.t-prefix__3 {
  
    margin-left: 1px !important;
}

.t-descr {
    font-family: 'Nunito', sans-serif;
    font-size: 20px !important;
}

.t-rec_pb_60 {
    padding-left: 0px !important;
}

.t017__title {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    padding-right: 53px !important;
}

.t-prefix_1 {
    padding-right: 52px !important;
}
/* 		.t-descr{
    text-align: left;
    font-family: 'Nunito', sans-serif;
    width: 574px;
    margin-left: -58px;
}
	.t_999 {
    opacity: 0.90;
    font-family: 'Nunito', sans-serif;
    padding-left: 132px;
}
*/
#title_offers {
    font-family: 'Nunito', sans-serif;
    padding-left: 72px !important;
}
.t-prefix_1 {
    padding-left: 6px !important;
    text-align: center !important;
}

.t675{
	height: 40vh  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-left{
	height: 510px  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-right{
	height: 510px  !important;
}

.t-slds__wrapper .t-align_center .t-slds__bgimg .t-bgimg {
	height: 40vh  !important;
}

.t675 .t-slds__wrapper{
	height: 40vh !important;
}

#main_title{
    font-size: 39px !important;
    text-transform: uppercase;
    transition-delay: 0s;
    font-family: 'Nunito', sans-serif;
    margin-left: 4px !important;
}

#title_about{
	font-size: 30px !important;
}

#rec111239159{
	padding-top: 0px !important;

}

#title_location{
	margin-left: 58px !important;
}

#village_map{
	width: 280px !important;
}

 }






@media screen and (min-width:240px) and (max-width:270px) {
	body{
		margin:0 !important;
		padding: 0 !important;
		width: 100%;
		height: 100%;
	}

	.t-prefix__3 {
  
    margin-left: 1px !important;
}

.t-descr {
    font-family: 'Nunito', sans-serif;
    font-size: 20px !important;
}

.t-rec_pb_60 {
    padding-left: 0px !important;
}

.t017__title {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    padding-right: 53px !important;
}

.t-prefix_1 {
    padding-right: 52px !important;
}
/* 		.t-descr{
    text-align: left;
    font-family: 'Nunito', sans-serif;
    width: 574px;
    margin-left: -58px;
}
	.t_999 {
    opacity: 0.90;
    font-family: 'Nunito', sans-serif;
    padding-left: 132px;
}
*/
#title_offers {
    font-family: 'Nunito', sans-serif;
    padding-left: 72px !important;
}
.t-prefix_1 {
    padding-left: 6px !important;
    text-align: center !important;
}

.t675{
	height: 40vh  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-left{
	height: 510px  !important;
}

.t-slds__arrow_wrapper .t-slds__arrow_wrapper-right{
	height: 510px  !important;
}

.t-slds__wrapper .t-align_center .t-slds__bgimg .t-bgimg {
	height: 40vh  !important;
}

.t675 .t-slds__wrapper{
	height: 40vh !important;
}

#main_title{
    font-size: 29px !important;
    text-transform: uppercase;
    transition-delay: 0s;
    font-family: 'Nunito', sans-serif;
    margin-left: 4px !important;
}

#title_about{
	font-size: 30px !important;
}

#rec111239159{
	padding-top: 0px !important;

}

#title_location{
	margin-left: 22px !important;
}

#village_map{
	width: 247px !important;
}

 }
